<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            display: flex;
            justify-content: top;
            flex-direction: column;
            height: 100vh;
        }
        form div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1 style="margin-top: 20px;">Welcome to the Administrator page</h1>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            Administrator Privileges
        </h3>
        <h5>
            Administrators have the authority to perform essential tasks such as adding, modifying, or removing lecture information.
            This level of control ensures that the lecture database remains accurate, up-to-date, and aligned with users' evolving needs.        
        </h5>
    </div>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            Adding lectures      
        </h3>
        <h5>
            Administrators have the flexibility to enrich the lecture database by adding new lectures based on user demand, emerging trends, or partnerships with educational institutions. 
            By continuously expanding the selection, we aim to cater to diverse learning interests and preferences effectively. 
        </h5>
    </div>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            Modifying lecture Details       
        </h3>
        <h5>
            Should any lecture information require updates or corrections, administrators can easily modify existing entries to accurately reflect the latest developments. 
            Whether updating lecture descriptions, adjusting skill levels, or revising availability status, administrators can ensure that users access the most relevant and reliable information.
        </h5>
    </div>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            Removing Lectures
        </h3>
        <h5>
            In cases where lectures become obsolete, redundant, or no longer align with the system's objectives, administrators have the authority to remove such lectures from the database. 
            This proactive approach ensures that users encounter only high-quality and relevant lecture recommendations during their learning journey.
        </h5>
    </div>
    


</body>
</html>