<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            display: flex;
            justify-content: top;
            flex-direction: column;
            height: 120vh;
        }
        form div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1 style="margin-top: 20px;">Welcome to the recommender system, {{ user_id }}!!</h1>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            Recommendation System Overview
        </h3>
        <h5>
            Our recommendation system utilises advanced algorithms to analyse user preferences and suggest lectures tailored to individual needs. 
            By collecting and analysing data provided during registration, such as academic background, language proficiency, and learning goals, we personalise each user's learning journey.
        </h5>
    </div>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            Profile Management
        </h3>
        <h5>
            In the Profile tab, users can not only view their profiles but also fine-tune them according to evolving interests and objectives. 
            Whether you're aiming to improve language skills, prepare for standardized tests, or explore new subjects, our system adapts to your changing needs.        
        </h5>
    </div>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            Recommendation Results       
        </h3>
        <h5>
            Explore the Recommend Results tab to discover personalised lecture recommendations curated just for you. 
            Leveraging a vast database of lectures and user profiles, our system ensures that every recommendation aligns with your preferences, ensuring a rewarding learning experience. 
        </h5>
    </div>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            lecture Ratings and Feedback        
        </h3>
        <h5>
            We value your feedback! After exploring recommended lectures, users can provide ratings and reviews, helping others make informed decisions. 
            Your input contributes to the continuous improvement of our recommendation algorithms, ensuring high-quality recommendations for all users.
        </h5>
    </div>
    <div style="margin-top: 40px; margin-left: 18%; margin-right: 18%;">
        <h3>
            User Rating Management
        </h3>
        <h5>
            In the User Rating tab, users can revisit lectures they've rated and modify their ratings as needed. 
            Whether you want to update a previous rating or provide additional feedback, this feature empowers users to actively shape their learning experience.
        </h5>
    </div>
    


</body>
</html>