<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: left;
            margin-top: 20px;
        }
        form div {
            margin-bottom: 10px;
        }
        form button {
            margin-top: 10px;
        }
    </style>
    <title>Update Success</title>
</head>
<body>
    <div style="margin-bottom: 2%;">
        <h1>User Rating registeration Success!!</h1>
    </div>
    <button type="button" onclick="window.location.href='/recommend'">Return recommend Page</button>
</body>
</html>